.login-section{
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    /* background-color: rgb(212, 10, 10); */
    background: url(https://img.freepik.com/premium-photo/happy-woman-with-camera-passport-waiting-travel-by-plane_28717-302.jpg?w=900);
        background-size: 100vw 100vh;
        background-position: center;
}

.login-form-content{
    display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
    /* border: 2px solid red; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid red;
    padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
}

.login-form > div{
    display: flex;
    flex-direction: column;
}

.login-form > div > input{
    height: 32px;
    font-size: 14px;
    padding: 0px 4px;
    border: 1px solid black;
    border-radius: 4px;
   
}

.login-form > div > input[type='submit']{
    background-color: #006CE4;
    color: white;
    font-size: 16px;
    height: 44px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.login-form > div > input[type='submit']:hover{
    background-color: #003580;
}

.login-form > div > label{
    font-size: 16px;
    font-weight: bold;
}

.login-form > div > p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.login-form > div > p > a{
    text-decoration: none;
    color: blue;
}

.login-form > div > p > a:hover{
    text-decoration: underline;
}